.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.score {
	position: absolute;
    font-size: xx-large;
    font-family: serif;
    right: 10%;
	background-color: peru;	
}

.rdnStr {
	position: absolute;
 	color:brown;
	font-size: xx-large;
	top: 16%;
	left: calc( 50% - 50px );
}
.inpStr {
	position: absolute;
 	background-color:aqua;
	top: 25%;
	left: 37%;
	font-size: xx-large;
	width: 25%;
	height: 11%;

}
.img_tick {
	position: absolute;
	height: 25%;
	width: 15%;
	top: 37%;
	left: 60%;
	background-image: url('tick.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
.img_cross {
	position: absolute;
	height: 25%;
	width: 15%;
	top: 37%;
	left: 26%;
	background-image: url('x.png');
	background-size: contain;
	background-repeat: no-repeat;
}